#div-obj1{
    background-color: #f39c12;
    color: #fff;
    top: 50px;
}
#div-obj2{
    background-color: #3498db;
    color: #fff;
    top: 50px;
}
#div-obj3{
    background-color: #e74c3c;
    color: #fff;
    top: 50px;
}
